{% extends 'layout.html' %}

{% block title %} {{title}} {% endblock %}}

{% block content %}

<!-- Esto es un comentario en HTML -->
{% comment 'Nota para el comentario' %}
    <h1>Esto también es un comentario</h1>
{% endcomment %}


<h1 class="title">{{title}}</h1>

<p>{{mi_variable}}</p>

{% if nombre %}    
    <p>{{nombre}}</p>
{% else %}
    <strong>El nombre no existe</strong>
{% endif %}

<h3>Listado de lenguajes de programación</h3>
<ul>
    {% for lenguaje in lenguajes %}
        <li>{{forloop.counter}}. {{lenguaje}}</li>
    {% empty %}
        <strong>
        <p>NO HAY LENGUAJES QUE MOSTRAR</p>
        </strong>
    {% endfor %}

</ul>

<p>Años hasta el 2050:</p>

{% endblock %}